<configuration>
system.webServer>
<rewrite>
<rules>
<rule name="rule 1Y" stopProcessing="true">
	<match url="^$"  />
	<action type="Rewrite" url="/public/"  />
</rule>
<rule name="rule 2Y" stopProcessing="true">
	<match url="(.*)"  />
	<action type="Rewrite" url="/public/{R:1}"  />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>
